/* Do not remove the comments below. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower

/*import all the new scss files that you create - Order is very important*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
@import "mixins.scss";
@import "home.scss";
@import "default.scss";
@import "band.scss";

body {
  font-family:Roboto;
}

/*// injector
// endinjector*/
