<!-- <div class="container childView">
    <nav>
        <div class="col-md-4"><a ng-href="/the-rolling-stones">LINK1</a></div>
        <div class="col-md-4"><a ng-href="/the-beatles">LINK2</a></div>
        <div class="col-md-4"><a ng-href="/queen">LINK3</a></div>
    </nav>
    <div class="row childView">
        <div class="col-md-2  col-md-offset-5"></div>
    </div>
</div> -->

<div class="container">
  <div class="row">
    <header class="header">
      <h1 class="header__title">Angular Bands</h1>
      <div class="header__shape block--red"></div>
      <div class="header__shape triangle--blue"></div>
      <div class="header__shape circle--green"></div>
      <div class="header__shape trap--yellow"></div>
    </header>
  </div>

  <div class="row">
    <section>
      <ul class="links-list">
        <li class="links-list__item">
          <a ng-href="/the-rolling-stones">The Rolling Stones</a>
        </li>
        <li class="links-list__item">
          <a ng-href="/the-beatles">The Beatles</a>
        </li>
        <li class="links-list__item">
          <a ng-href="/queen">Queen</a>
        </li>
        <li class="links-list__item">More more more</li>
      </ul>
    </section>
  </div>
</div>
